<div class="Onsale-body">
  <div class="col-3 prod-details" *ngFor="let product of saleList">
      <h2>on Sale:</h2>
      <img  [src]="product.image" class="i-box float-start" alt="onSale" class="rounded">
      <h4 class="card-text">:{{product.productName}}</h4>
      <span class="price-item price-item"> ${{product.productPrice}} </span>
  </div>
  <div class="col-3 actions float-end">
      <div class="sizeSelection-box">
        <h2 class="size-title">Size</h2>
   <div class="size-btns ">
          <button type="button" class="btn btn-light mx-2" >Small</button>
          <button type="button" class="btn btn-light " >Medium</button>
          <button type="button" class="btn btn-light mx-2">Large</button>
          <button type="button" class="btn btn-light ">X-Large</button>
          <button type="button" class="btn btn-light mx-2">XX-Large</button>
   </div>
      <div class="cart-form">
          <button type="button" class="cart btn btn-light "> Add to Cart </button>
      </div>
   </div>
  </div>
</div>
<!--all products-->
<div class="text">
  <h2>Recomendations:</h2>
</div>
<div class="row">
  <!-- <div class="col-3" *ngFor=" let product of productList " >
    <div class="card" >
      <img class="card-img-top" src={{product.product_Image}}  alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{product.product_Name}}</h4>
       
        <p class="card-text">Category: {{product.product_Category}}</p>
     
        <h4 class="card-title text-success">{{product.productPrice}}</h4>
          
      </div>
      <div class="cart">
        <button type="button" class="cart btn btn-light "> Add to Cart </button>
    </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" >
      <img class="card-img-top" src="/assets/products/image12.jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">HeadWear</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" >
      <img class="card-img-top" src="/assets/products/image14.jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Casual wear </p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
  </div> -->
  <!-- card.component.html -->
<!-- <div class="cards-container">
  <mat-card class="new-card" *ngFor="let product of productList">
    <mat-card-header>
      <mat-card-title><h3 class="text-success">{{product.product_Name}}</h3></mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{product.product_Image}}  alt="Photo of a guy">
    <mat-card-content>

    </mat-card-content>
    <p class="card-text">Category: {{product.product_Category}}</p>
    <mat-card-actions align ="end">
      <button mat-raised-button class="btn btn-success">${{product.productPrice}}</button>
      <div class="cart">
        <button type="button" class="cart btn btn-light "> Add to Cart </button>
    </div>
    </mat-card-actions>
    
  </mat-card>
</div> -->


</div>
