

.row{

/*
  padding-right: 20px; */
  --bs-gutter-y: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height:100%;
  
}
.card-body {
  padding: 1rem;
}
.col-6.text-end{
  text-align: left ! important;
}
.card-header_bg-primary{
  background-color: lightblue;
}
.text-end{
  justify-content: left;
}
.btn{

  float: right;

}
.edit .btn{
  float: left;

}
.preview{
  height: 100%;
  width:100%;
}
/* Media queries for responsive layout */


